/* #starfield {
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1500px 117px #fff, 1966px 1276px #fff, 1464px 1907px #fff,
        925px 29px #fff, 304px 980px #fff, 841px 1804px #fff, 525px 239px #fff,
        1282px 960px #fff, 368px 581px #fff, 777px 982px #fff, 284px 1995px #fff,
        784px 1709px #fff, 1023px 852px #fff, 736px 1536px #fff,
        997px 1110px #fff, 1124px 309px #fff, 256px 1718px #fff,
        476px 1804px #fff, 151px 490px #fff, 1405px 111px #fff,
        158px 1067px #fff, 1204px 459px #fff, 1504px 487px #fff,
        1617px 553px #fff, 553px 1503px #fff, 784px 35px #fff,
        1799px 1741px #fff, 1734px 1577px #fff, 1863px 978px #fff,
        1605px 200px #fff, 552px 112px #fff, 1086px 72px #fff, 756px 1580px #fff,
        931px 27px #fff, 791px 641px #fff, 495px 44px #fff, 1947px 1403px #fff,
        483px 1435px #fff, 540px 557px #fff, 1861px 676px #fff,
        1042px 1155px #fff, 708px 23px #fff, 189px 1207px #fff,
        1199px 1106px #fff, 365px 919px #fff, 210px 1634px #fff,
        1299px 1284px #fff, 1018px 470px #fff, 1972px 1024px #fff,
        1704px 19px #fff, 323px 1049px #fff, 374px 609px #fff, 1224px 514px #fff,
        1149px 1736px #fff, 157px 1353px #fff, 1399px 246px #fff,
        1295px 835px #fff, 1258px 1937px #fff, 1095px 231px #fff,
        353px 692px #fff, 1146px 1356px #fff, 1854px 1443px #fff,
        962px 1381px #fff, 1721px 1872px #fff, 1660px 416px #fff,
        101px 1944px #fff, 449px 1020px #fff, 709px 996px #fff, 1255px 52px #fff,
        509px 784px #fff, 352px 1430px #fff, 1944px 1750px #fff,
        1537px 821px #fff, 1589px 74px #fff, 738px 573px #fff, 1649px 697px #fff,
        326px 236px #fff, 927px 1174px #fff, 1072px 1065px #fff,
        979px 720px #fff, 1569px 751px #fff, 310px 1387px #fff,
        780px 1030px #fff, 1423px 1265px #fff, 564px 455px #fff,
        1664px 1760px #fff, 827px 940px #fff, 1877px 482px #fff, 73px 491px #fff,
        813px 18px #fff, 795px 1717px #fff, 9px 224px #fff, 1846px 1070px #fff,
        949px 1728px #fff, 478px 670px #fff, 585px 1888px #fff, 80px 699px #fff,
        1497px 117px #fff, 29px 1290px #fff, 1669px 1247px #fff,
        705px 1409px #fff, 1984px 1202px #fff, 1475px 1125px #fff,
        709px 1190px #fff, 449px 250px #fff, 1064px 898px #fff, 752px 645px #fff,
        1097px 1459px #fff, 248px 796px #fff, 450px 144px #fff, 588px 267px #fff,
        1478px 325px #fff, 1685px 306px #fff, 1453px 1098px #fff,
        1399px 926px #fff, 1444px 275px #fff, 1196px 1242px #fff,
        85px 1436px #fff, 1469px 1957px #fff, 438px 1333px #fff,
        568px 902px #fff, 149px 169px #fff, 921px 1603px #fff, 1817px 498px #fff,
        1208px 1895px #fff, 1588px 1740px #fff, 1554px 974px #fff,
        85px 1418px #fff, 1973px 1071px #fff, 1768px 1594px #fff,
        463px 908px #fff, 405px 962px #fff, 1578px 1808px #fff,
        679px 1495px #fff, 1651px 1231px #fff, 1583px 1421px #fff,
        1247px 676px #fff, 1639px 239px #fff, 435px 1385px #fff,
        1465px 55px #fff, 1989px 9px #fff, 1671px 1895px #fff, 930px 625px #fff,
        779px 1045px #fff, 726px 841px #fff, 433px 339px #fff, 541px 1491px #fff,
        1264px 521px #fff, 143px 1821px #fff, 1270px 748px #fff,
        316px 1071px #fff, 600px 481px #fff, 556px 1641px #fff,
        1014px 1533px #fff, 1315px 724px #fff, 707px 714px #fff,
        89px 1865px #fff, 508px 917px #fff, 1356px 1446px #fff,
        1966px 1885px #fff, 904px 602px #fff, 1207px 705px #fff, 7px 948px #fff,
        1574px 904px #fff, 261px 1327px #fff, 1186px 1054px #fff,
        880px 1587px #fff, 1578px 966px #fff, 91px 1544px #fff,
        1761px 1992px #fff, 1299px 1160px #fff, 593px 1456px #fff,
        544px 1067px #fff, 1547px 432px #fff, 1105px 263px #fff,
        649px 130px #fff, 1372px 1067px #fff, 183px 683px #fff,
        1329px 1338px #fff, 544px 652px #fff, 117px 279px #fff,
        1585px 1635px #fff, 1918px 655px #fff, 90px 1299px #fff,
        853px 1306px #fff, 1751px 1629px #fff, 915px 284px #fff,
        1218px 1189px #fff, 1379px 1965px #fff, 648px 801px #fff,
        652px 1903px #fff, 1885px 1079px #fff, 1116px 1510px #fff,
        1844px 1539px #fff, 1233px 857px #fff, 1079px 462px #fff,
        526px 1676px #fff, 1752px 124px #fff, 958px 1269px #fff,
        161px 941px #fff, 20px 932px #fff, 1410px 1642px #fff, 1011px 185px #fff,
        313px 1600px #fff, 1324px 328px #fff, 366px 208px #fff,
        1884px 434px #fff, 1470px 446px #fff, 592px 1725px #fff,
        383px 1916px #fff, 1212px 1150px #fff, 1258px 919px #fff,
        613px 287px #fff, 114px 746px #fff, 1238px 280px #fff, 202px 1181px #fff,
        1199px 502px #fff, 1480px 1931px #fff, 1825px 56al0px #fff,
        416px 1482px #fff, 251px 710px #fff, 1472px 1802px #fff,
        395px 1117px #fff, 1452px 456px #fff, 271px 403px #fff, 438px 216px #fff,
        298px 157px #fff, 16px 221px #fff, 881px 1214px #fff, 455px 1423px #fff,
        1329px 609px #fff, 1995px 1779px #fff, 984px 1895px #fff,
        621px 275px #fff, 1997px 365px #fff, 1265px 911px #fff, 60px 1925px #fff,
        1484px 816px #fff, 1899px 371px #fff, 1655px 1729px #fff,
        1473px 1525px #fff, 306px 259px #fff, 350px 252px #fff, 791px 990px #fff,
        1202px 1780px #fff, 500px 1457px #fff, 286px 1872px #fff,
        1107px 796px #fff, 1093px 382px #fff, 1565px 466px #fff,
        751px 670px #fff, 805px 117px #fff, 1347px 1141px #fff,
        1163px 1605px #fff, 953px 143px #fff, 94px 1425px #fff,
        1227px 1459px #fff, 706px 1089px #fff, 1953px 1149px #fff,
        1025px 1646px #fff, 434px 121px #fff, 181px 944px #fff,
        1138px 676px #fff, 1571px 18px #fff, 160px 1563px #fff,
        1816px 1600px #fff, 1228px 974px #fff, 1709px 1383px #fff,
        973px 1737px #fff, 141px 251px #fff, 303px 184px #fff, 169px 1426px #fff,
        1605px 1521px #fff, 1508px 271px #fff, 1611px 1317px #fff,
        342px 1372px #fff, 302px 862px #fff, 1395px 918px #fff, 305px 3px #fff,
        396px 1804px #fff, 376px 1156px #fff, 436px 1847px #fff,
        561px 491px #fff, 1531px 930px #fff, 989px 1258px #fff,
        1728px 1167px #fff, 1197px 1533px #fff, 1497px 211px #fff,
        769px 106px #fff, 1853px 536px #fff, 763px 268px #fff, 912px 1038px #fff,
        178px 1561px #fff, 492px 721px #fff, 896px 1012px #fff,
        1422px 1506px #fff, 1568px 1024px #fff, 1717px 740px #fff,
        1007px 435px #fff, 1197px 1323px #fff, 1694px 1146px #fff,
        136px 39px #fff, 1764px 1932px #fff, 688px 306px #fff, 1995px 475px #fff,
        1269px 341px #fff, 1016px 679px #fff, 1151px 1740px #fff,
        169px 979px #fff, 1361px 1167px #fff, 15px 988px #fff, 88px 676px #fff,
        857px 334px #fff, 1892px 1013px #fff, 1155px 1472px #fff,
        716px 586px #fff, 1060px 481px #fff, 1092px 1469px #fff,
        1748px 540px #fff, 1263px 1678px #fff, 443px 857px #fff,
        92px 1450px #fff, 1019px 1383px #fff, 797px 1542px #fff,
        1196px 1305px #fff, 1870px 1484px #fff, 729px 79px #fff,
        751px 1000px #fff, 1561px 607px #fff, 195px 1488px #fff,
        327px 1696px #fff, 1884px 1326px #fff, 1157px 1222px #fff,
        1299px 736px #fff, 938px 418px #fff, 424px 197px #fff, 1532px 804px #fff,
        1162px 1339px #fff, 471px 410px #fff, 620px 1418px #fff,
        1189px 608px #fff, 114px 1801px #fff, 60px 129px #fff, 1229px 125px #fff,
        1912px 808px #fff, 1376px 609px #fff, 1401px 270px #fff,
        340px 1096px #fff, 1342px 1725px #fff, 1758px 491px #fff,
        407px 842px #fff, 1941px 1545px #fff, 1559px 1591px #fff,
        43px 1017px #fff, 206px 1536px #fff, 884px 1570px #fff,
        1267px 1156px #fff, 769px 822px #fff, 1289px 328px #fff,
        1577px 307px #fff, 1116px 924px #fff, 1255px 317px #fff,
        1813px 413px #fff, 609px 1402px #fff, 1974px 1600px #fff,
        11px 1922px #fff, 1560px 1534px #fff, 6px 1317px #fff, 417px 530px #fff,
        149px 1853px #fff, 1837px 42px #fff, 1239px 1684px #fff,
        1496px 1165px #fff, 1980px 228px #fff, 529px 472px #fff,
        119px 773px #fff, 716px 1831px #fff, 1330px 1745px #fff,
        1889px 1248px #fff, 1435px 308px #fff, 777px 1352px #fff,
        1814px 1260px #fff, 485px 366px #fff, 979px 483px #fff, 938px 402px #fff,
        1068px 1141px #fff, 1387px 1606px #fff, 716px 1991px #fff,
        723px 1908px #fff, 785px 1084px #fff, 1961px 635px #fff,
        590px 1472px #fff, 336px 149px #fff, 303px 463px #fff, 909px 1743px #fff,
        1886px 1724px #fff, 660px 1229px #fff, 441px 488px #fff,
        579px 913px #fff, 1671px 1304px #fff, 1762px 1735px #fff, 807px 3px #fff,
        1410px 518px #fff, 1841px 1540px #fff, 1217px 781px #fff,
        1144px 1709px #fff, 1330px 648px #fff, 1784px 1327px #fff,
        1271px 527px #fff, 1114px 78px #fff, 284px 1607px #fff, 235px 850px #fff,
        225px 75px #fff, 1537px 1400px #fff, 1639px 409px #fff, 42px 1159px #fff,
        1642px 411px #fff, 885px 1844px #fff, 275px 273px #fff, 1486px 5px #fff,
        693px 1926px #fff, 877px 298px #fff, 1537px 1423px #fff,
        1566px 270px #fff, 478px 1974px #fff, 1692px 461px #fff,
        564px 1280px #fff, 781px 1965px #fff, 1911px 1104px #fff,
        74px 175px #fff, 1299px 1598px #fff, 4px 1370px #fff, 1621px 1704px #fff,
        1464px 851px #fff, 1519px 1687px #fff, 460px 1277px #fff,
        1351px 167px #fff, 1813px 1614px #fff, 13px 618px #fff, 146px 558px #fff,
        1894px 138px #fff, 944px 462px #fff, 1796px 1834px #fff,
        826px 256px #fff, 569px 589px #fff, 782px 1171px #fff, 367px 76px #fff,
        852px 355px #fff, 406px 391px #fff, 1707px 609px #fff, 1505px 598px #fff,
        1361px 846px #fff, 229px 654px #fff, 892px 1740px #fff, 364px 829px #fff,
        95px 1104px #fff, 62px 1651px #fff, 1784px 399px #fff, 21px 1669px #fff,
        1168px 1641px #fff, 1333px 935px #fff, 1533px 939px #fff, 447px 7px #fff,
        978px 724px #fff, 1119px 1368px #fff, 490px 1969px #fff,
        380px 1597px #fff, 173px 1370px #fff, 1661px 1238px #fff,
        1520px 1103px #fff, 902px 1763px #fff, 847px 574px #fff,
        276px 328px #fff, 1773px 1003px #fff, 1812px 1478px #fff,
        1597px 911px #fff, 209px 1282px #fff, 1565px 835px #fff,
        1251px 1752px #fff, 147px 214px #fff, 1613px 1830px #fff,
        874px 1127px #fff, 717px 1365px #fff, 39px 1449px #fff, 998px 56px #fff,
        396px 384px #fff, 719px 1744px #fff, 1220px 1524px #fff,
        711px 1984px #fff, 1764px 1138px #fff, 1529px 1733px #fff,
        604px 498px #fff, 1525px 570px #fff, 347px 1885px #fff,
        1174px 1799px #fff, 693px 1884px #fff, 1931px 99px #fff,
        28px 1349px #fff, 1798px 1207px #fff, 1078px 1806px #fff,
        459px 1385px #fff, 1185px 1542px #fff, 80px 1912px #fff, 252px 6px #fff,
        1409px 1386px #fff, 1365px 1571px #fff, 104px 1604px #fff,
        268px 169px #fff, 1435px 1355px #fff, 614px 751px #fff,
        970px 1883px #fff, 1036px 627px #fff, 436px 594px #fff,
        1322px 1744px #fff, 574px 1240px #fff, 1832px 1823px #fff,
        1335px 1066px #fff, 353px 673px #fff, 1124px 692px #fff,
        152px 1338px #fff, 748px 64px #fff, 1343px 750px #fff,
        1582px 1911px #fff, 310px 1585px #fff, 106px 401px #fff,
        113px 1262px #fff, 1575px 371px #fff, 1703px 1820px #fff,
        1533px 1878px #fff, 1050px 1343px #fff, 1768px 1372px #fff,
        396px 736px #fff, 1317px 862px #fff, 1547px 1397px #fff,
        1662px 1760px #fff, 1445px 1658px #fff, 633px 1520px #fff,
        1372px 1086px #fff, 240px 998px #fff, 1829px 480px #fff,
        301px 1259px #fff, 1071px 298px #fff, 1883px 1747px #fff,
        328px 1296px #fff, 1529px 1535px #fff, 1192px 183px #fff,
        1817px 1550px #fff, 620px 1827px #fff, 667px 1447px #fff,
        1536px 1057px #fff, 944px 950px #fff, 1393px 17px #fff,
        1865px 1651px #fff, 1941px 715px #fff, 395px 1152px #fff,
        751px 940px #fff, 889px 1160px #fff, 874px 509px #fff, 779px 421px #fff,
        909px 1294px #fff, 1683px 10px #fff, 887px 1650px #fff, 75px 722px #fff,
        706px 451px #fff, 1431px 1021px #fff, 1873px 1761px #fff,
        1045px 1037px #fff, 247px 1588px #fff, 1239px 1521px #fff,
        841px 1130px #fff, 1363px 322px #fff, 940px 181px #fff,
        1579px 1634px #fff, 4px 786px #fff, 693px 1625px #fff, 732px 932px #fff,
        1937px 1956px #fff, 786px 744px #fff, 1209px 1294px #fff,
        279px 680px #fff, 1354px 1142px #fff, 286px 658px #fff, 26px 1660px #fff,
        197px 551px #fff, 1034px 1773px #fff, 1303px 1067px #fff,
        1734px 967px #fff, 667px 1470px #fff, 1389px 816px #fff,
        1224px 1152px #fff, 1554px 1775px #fff, 1531px 1439px #fff,
        1051px 17px #fff, 1013px 1222px #fff, 1824px 675px #fff,
        883px 1586px #fff, 1460px 1679px #fff, 1887px 668px #fff,
        656px 304px #fff, 134px 490px #fff, 394px 492px #fff, 1135px 1865px #fff,
        1885px 1401px #fff, 1668px 1751px #fff, 520px 465px #fff,
        91px 1078px #fff, 657px 1389px #fff, 249px 949px #fff, 1425px 837px #fff,
        376px 482px #fff, 1642px 1303px #fff, 1785px 1742px #fff,
        1670px 1300px #fff, 735px 1192px #fff, 573px 303px #fff,
        1461px 1030px #fff, 1959px 103px #fff, 413px 1745px #fff,
        319px 516px #fff, 944px 813px #fff, 1640px 781px #fff, 1671px 866px #fff,
        426px 1691px #fff, 633px 368px #fff, 1410px 615px #fff,
        1674px 1632px #fff, 1976px 355px #fff, 1368px 844px #fff,
        346px 1814px #fff, 151px 1601px #fff, 7px 819px #fff, 1524px 1737px #fff,
        1101px 1689px #fff, 774px 1415px #fff, 553px 231px #fff,
        396px 793px #fff, 406px 1361px #fff, 1440px 575px #fff, 739px 369px #fff,
        1178px 56px #fff, 1331px 989px #fff, 576px 656px #fff,
        1738px 1284px #fff, 1778px 802px #fff, 476px 1696px #fff,
        1180px 343px #fff, 1451px 491px #fff, 851px 577px #fff, 228px 921px #fff,
        663px 1805px #fff, 580px 1135px #fff, 788px 1156px #fff,
        1294px 1285px #fff, 301px 102px #fff, 161px 1073px #fff,
        418px 436px #fff, 1539px 1710px #fff, 919px 734px #fff,
        1967px 1585px #fff, 1240px 317px #fff, 83px 1111px #fff,
        1745px 1258px #fff, 1781px 776px #fff, 1532px 333px #fff,
        647px 792px #fff, 1998px 1481px #fff, 1533px 1040px #fff,
        785px 1693px #fff, 1511px 1756px #fff, 669px 1404px #fff,
        833px 1297px #fff, 526px 1009px #fff, 648px 1138px #fff,
        617px 1064px #fff, 1663px 641px #fff, 295px 1099px #fff,
        1095px 994px #fff, 551px 1280px #fff, 1424px 1759px #fff,
        464px 89px #fff, 1754px 1473px #fff, 1005px 878px #fff,
        352px 1915px #fff, 619px 1034px #fff, 1489px 1413px #fff,
        1065px 1687px #fff, 987px 776px #fff, 346px 607px #fff,
        458px 1661px #fff, 458px 378px #fff, 1658px 830px #fff,
        1447px 1035px #fff, 511px 1082px #fff, 89px 1216px #fff,
        1223px 1740px #fff, 1971px 1967px #fff, 1276px 1033px #fff,
        1556px 464px #fff, 1427px 550px #fff, 622px 1111px #fff;
    animation: animStar 50s linear infinite;
}
#stars:after {
    content: ' ';
    position: absolute;
    top: 1000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1500px 117px #fff, 1966px 1276px #fff, 1464px 1907px #fff,
        925px 29px #fff, 304px 980px #fff, 841px 1804px #fff, 525px 239px #fff,
        1282px 960px #fff, 368px 581px #fff, 777px 982px #fff, 284px 1995px #fff,
        784px 1709px #fff, 1023px 852px #fff, 736px 1536px #fff,
        997px 1110px #fff, 1124px 309px #fff, 256px 1718px #fff,
        476px 1804px #fff, 151px 490px #fff, 1405px 111px #fff,
        158px 1067px #fff, 1204px 459px #fff, 1504px 487px #fff,
        1617px 553px #fff, 553px 1503px #fff, 784px 35px #fff,
        1799px 1741px #fff, 1734px 1577px #fff, 1863px 978px #fff,
        1605px 200px #fff, 552px 112px #fff, 1086px 72px #fff, 756px 1580px #fff,
        931px 27px #fff, 791px 641px #fff, 495px 44px #fff, 1947px 1403px #fff,
        483px 1435px #fff, 540px 557px #fff, 1861px 676px #fff,
        1042px 1155px #fff, 708px 23px #fff, 189px 1207px #fff,
        1199px 1106px #fff, 365px 919px #fff, 210px 1634px #fff,
        1299px 1284px #fff, 1018px 470px #fff, 1972px 1024px #fff,
        1704px 19px #fff, 323px 1049px #fff, 374px 609px #fff, 1224px 514px #fff,
        1149px 1736px #fff, 157px 1353px #fff, 1399px 246px #fff,
        1295px 835px #fff, 1258px 1937px #fff, 1095px 231px #fff,
        353px 692px #fff, 1146px 1356px #fff, 1854px 1443px #fff,
        962px 1381px #fff, 1721px 1872px #fff, 1660px 416px #fff,
        101px 1944px #fff, 449px 1020px #fff, 709px 996px #fff, 1255px 52px #fff,
        509px 784px #fff, 352px 1430px #fff, 1944px 1750px #fff,
        1537px 821px #fff, 1589px 74px #fff, 738px 573px #fff, 1649px 697px #fff,
        326px 236px #fff, 927px 1174px #fff, 1072px 1065px #fff,
        979px 720px #fff, 1569px 751px #fff, 310px 1387px #fff,
        780px 1030px #fff, 1423px 1265px #fff, 564px 455px #fff,
        1664px 1760px #fff, 827px 940px #fff, 1877px 482px #fff, 73px 491px #fff,
        813px 18px #fff, 795px 1717px #fff, 9px 224px #fff, 1846px 1070px #fff,
        949px 1728px #fff, 478px 670px #fff, 585px 1888px #fff, 80px 699px #fff,
        1497px 117px #fff, 29px 1290px #fff, 1669px 1247px #fff,
        705px 1409px #fff, 1984px 1202px #fff, 1475px 1125px #fff,
        709px 1190px #fff, 449px 250px #fff, 1064px 898px #fff, 752px 645px #fff,
        1097px 1459px #fff, 248px 796px #fff, 450px 144px #fff, 588px 267px #fff,
        1478px 325px #fff, 1685px 306px #fff, 1453px 1098px #fff,
        1399px 926px #fff, 1444px 275px #fff, 1196px 1242px #fff,
        85px 1436px #fff, 1469px 1957px #fff, 438px 1333px #fff,
        568px 902px #fff, 149px 169px #fff, 921px 1603px #fff, 1817px 498px #fff,
        1208px 1895px #fff, 1588px 1740px #fff, 1554px 974px #fff,
        85px 1418px #fff, 1973px 1071px #fff, 1768px 1594px #fff,
        463px 908px #fff, 405px 962px #fff, 1578px 1808px #fff,
        679px 1495px #fff, 1651px 1231px #fff, 1583px 1421px #fff,
        1247px 676px #fff, 1639px 239px #fff, 435px 1385px #fff,
        1465px 55px #fff, 1989px 9px #fff, 1671px 1895px #fff, 930px 625px #fff,
        779px 1045px #fff, 726px 841px #fff, 433px 339px #fff, 541px 1491px #fff,
        1264px 521px #fff, 143px 1821px #fff, 1270px 748px #fff,
        316px 1071px #fff, 600px 481px #fff, 556px 1641px #fff,
        1014px 1533px #fff, 1315px 724px #fff, 707px 714px #fff,
        89px 1865px #fff, 508px 917px #fff, 1356px 1446px #fff,
        1966px 1885px #fff, 904px 602px #fff, 1207px 705px #fff, 7px 948px #fff,
        1574px 904px #fff, 261px 1327px #fff, 1186px 1054px #fff,
        880px 1587px #fff, 1578px 966px #fff, 91px 1544px #fff,
        1761px 1992px #fff, 1299px 1160px #fff, 593px 1456px #fff,
        544px 1067px #fff, 1547px 432px #fff, 1105px 263px #fff,
        649px 130px #fff, 1372px 1067px #fff, 183px 683px #fff,
        1329px 1338px #fff, 544px 652px #fff, 117px 279px #fff,
        1585px 1635px #fff, 1918px 655px #fff, 90px 1299px #fff,
        853px 1306px #fff, 1751px 1629px #fff, 915px 284px #fff,
        1218px 1189px #fff, 1379px 1965px #fff, 648px 801px #fff,
        652px 1903px #fff, 1885px 1079px #fff, 1116px 1510px #fff,
        1844px 1539px #fff, 1233px 857px #fff, 1079px 462px #fff,
        526px 1676px #fff, 1752px 124px #fff, 958px 1269px #fff,
        161px 941px #fff, 20px 932px #fff, 1410px 1642px #fff, 1011px 185px #fff,
        313px 1600px #fff, 1324px 328px #fff, 366px 208px #fff,
        1884px 434px #fff, 1470px 446px #fff, 592px 1725px #fff,
        383px 1916px #fff, 1212px 1150px #fff, 1258px 919px #fff,
        613px 287px #fff, 114px 746px #fff, 1238px 280px #fff, 202px 1181px #fff,
        1199px 502px #fff, 1480px 1931px #fff, 1825px 560px #fff,
        416px 1482px #fff, 251px 710px #fff, 1472px 1802px #fff,
        395px 1117px #fff, 1452px 456px #fff, 271px 403px #fff, 438px 216px #fff,
        298px 157px #fff, 16px 221px #fff, 881px 1214px #fff, 455px 1423px #fff,
        1329px 609px #fff, 1995px 1779px #fff, 984px 1895px #fff,
        621px 275px #fff, 1997px 365px #fff, 1265px 911px #fff, 60px 1925px #fff,
        1484px 816px #fff, 1899px 371px #fff, 1655px 1729px #fff,
        1473px 1525px #fff, 306px 259px #fff, 350px 252px #fff, 791px 990px #fff,
        1202px 1780px #fff, 500px 1457px #fff, 286px 1872px #fff,
        1107px 796px #fff, 1093px 382px #fff, 1565px 466px #fff,
        751px 670px #fff, 805px 117px #fff, 1347px 1141px #fff,
        1163px 1605px #fff, 953px 143px #fff, 94px 1425px #fff,
        1227px 1459px #fff, 706px 1089px #fff, 1953px 1149px #fff,
        1025px 1646px #fff, 434px 121px #fff, 181px 944px #fff,
        1138px 676px #fff, 1571px 18px #fff, 160px 1563px #fff,
        1816px 1600px #fff, 1228px 974px #fff, 1709px 1383px #fff,
        973px 1737px #fff, 141px 251px #fff, 303px 184px #fff, 169px 1426px #fff,
        1605px 1521px #fff, 1508px 271px #fff, 1611px 1317px #fff,
        342px 1372px #fff, 302px 862px #fff, 1395px 918px #fff, 305px 3px #fff,
        396px 1804px #fff, 376px 1156px #fff, 436px 1847px #fff,
        561px 491px #fff, 1531px 930px #fff, 989px 1258px #fff,
        1728px 1167px #fff, 1197px 1533px #fff, 1497px 211px #fff,
        769px 106px #fff, 1853px 536px #fff, 763px 268px #fff, 912px 1038px #fff,
        178px 1561px #fff, 492px 721px #fff, 896px 1012px #fff,
        1422px 1506px #fff, 1568px 1024px #fff, 1717px 740px #fff,
        1007px 435px #fff, 1197px 1323px #fff, 1694px 1146px #fff,
        136px 39px #fff, 1764px 1932px #fff, 688px 306px #fff, 1995px 475px #fff,
        1269px 341px #fff, 1016px 679px #fff, 1151px 1740px #fff,
        169px 979px #fff, 1361px 1167px #fff, 15px 988px #fff, 88px 676px #fff,
        857px 334px #fff, 1892px 1013px #fff, 1155px 1472px #fff,
        716px 586px #fff, 1060px 481px #fff, 1092px 1469px #fff,
        1748px 540px #fff, 1263px 1678px #fff, 443px 857px #fff,
        92px 1450px #fff, 1019px 1383px #fff, 797px 1542px #fff,
        1196px 1305px #fff, 1870px 1484px #fff, 729px 79px #fff,
        751px 1000px #fff, 1561px 607px #fff, 195px 1488px #fff,
        327px 1696px #fff, 1884px 1326px #fff, 1157px 1222px #fff,
        1299px 736px #fff, 938px 418px #fff, 424px 197px #fff, 1532px 804px #fff,
        1162px 1339px #fff, 471px 410px #fff, 620px 1418px #fff,
        1189px 608px #fff, 114px 1801px #fff, 60px 129px #fff, 1229px 125px #fff,
        1912px 808px #fff, 1376px 609px #fff, 1401px 270px #fff,
        340px 1096px #fff, 1342px 1725px #fff, 1758px 491px #fff,
        407px 842px #fff, 1941px 1545px #fff, 1559px 1591px #fff,
        43px 1017px #fff, 206px 1536px #fff, 884px 1570px #fff,
        1267px 1156px #fff, 769px 822px #fff, 1289px 328px #fff,
        1577px 307px #fff, 1116px 924px #fff, 1255px 317px #fff,
        1813px 413px #fff, 609px 1402px #fff, 1974px 1600px #fff,
        11px 1922px #fff, 1560px 1534px #fff, 6px 1317px #fff, 417px 530px #fff,
        149px 1853px #fff, 1837px 42px #fff, 1239px 1684px #fff,
        1496px 1165px #fff, 1980px 228px #fff, 529px 472px #fff,
        119px 773px #fff, 716px 1831px #fff, 1330px 1745px #fff,
        1889px 1248px #fff, 1435px 308px #fff, 777px 1352px #fff,
        1814px 1260px #fff, 485px 366px #fff, 979px 483px #fff, 938px 402px #fff,
        1068px 1141px #fff, 1387px 1606px #fff, 716px 1991px #fff,
        723px 1908px #fff, 785px 1084px #fff, 1961px 635px #fff,
        590px 1472px #fff, 336px 149px #fff, 303px 463px #fff, 909px 1743px #fff,
        1886px 1724px #fff, 660px 1229px #fff, 441px 488px #fff,
        579px 913px #fff, 1671px 1304px #fff, 1762px 1735px #fff, 807px 3px #fff,
        1410px 518px #fff, 1841px 1540px #fff, 1217px 781px #fff,
        1144px 1709px #fff, 1330px 648px #fff, 1784px 1327px #fff,
        1271px 527px #fff, 1114px 78px #fff, 284px 1607px #fff, 235px 850px #fff,
        225px 75px #fff, 1537px 1400px #fff, 1639px 409px #fff, 42px 1159px #fff,
        1642px 411px #fff, 885px 1844px #fff, 275px 273px #fff, 1486px 5px #fff,
        693px 1926px #fff, 877px 298px #fff, 1537px 1423px #fff,
        1566px 270px #fff, 478px 1974px #fff, 1692px 461px #fff,
        564px 1280px #fff, 781px 1965px #fff, 1911px 1104px #fff,
        74px 175px #fff, 1299px 1598px #fff, 4px 1370px #fff, 1621px 1704px #fff,
        1464px 851px #fff, 1519px 1687px #fff, 460px 1277px #fff,
        1351px 167px #fff, 1813px 1614px #fff, 13px 618px #fff, 146px 558px #fff,
        1894px 138px #fff, 944px 462px #fff, 1796px 1834px #fff,
        826px 256px #fff, 569px 589px #fff, 782px 1171px #fff, 367px 76px #fff,
        852px 355px #fff, 406px 391px #fff, 1707px 609px #fff, 1505px 598px #fff,
        1361px 846px #fff, 229px 654px #fff, 892px 1740px #fff, 364px 829px #fff,
        95px 1104px #fff, 62px 1651px #fff, 1784px 399px #fff, 21px 1669px #fff,
        1168px 1641px #fff, 1333px 935px #fff, 1533px 939px #fff, 447px 7px #fff,
        978px 724px #fff, 1119px 1368px #fff, 490px 1969px #fff,
        380px 1597px #fff, 173px 1370px #fff, 1661px 1238px #fff,
        1520px 1103px #fff, 902px 1763px #fff, 847px 574px #fff,
        276px 328px #fff, 1773px 1003px #fff, 1812px 1478px #fff,
        1597px 911px #fff, 209px 1282px #fff, 1565px 835px #fff,
        1251px 1752px #fff, 147px 214px #fff, 1613px 1830px #fff,
        874px 1127px #fff, 717px 1365px #fff, 39px 1449px #fff, 998px 56px #fff,
        396px 384px #fff, 719px 1744px #fff, 1220px 1524px #fff,
        711px 1984px #fff, 1764px 1138px #fff, 1529px 1733px #fff,
        604px 498px #fff, 1525px 570px #fff, 347px 1885px #fff,
        1174px 1799px #fff, 693px 1884px #fff, 1931px 99px #fff,
        28px 1349px #fff, 1798px 1207px #fff, 1078px 1806px #fff,
        459px 1385px #fff, 1185px 1542px #fff, 80px 1912px #fff, 252px 6px #fff,
        1409px 1386px #fff, 1365px 1571px #fff, 104px 1604px #fff,
        268px 169px #fff, 1435px 1355px #fff, 614px 751px #fff,
        970px 1883px #fff, 1036px 627px #fff, 436px 594px #fff,
        1322px 1744px #fff, 574px 1240px #fff, 1832px 1823px #fff,
        1335px 1066px #fff, 353px 673px #fff, 1124px 692px #fff,
        152px 1338px #fff, 748px 64px #fff, 1343px 750px #fff,
        1582px 1911px #fff, 310px 1585px #fff, 106px 401px #fff,
        113px 1262px #fff, 1575px 371px #fff, 1703px 1820px #fff,
        1533px 1878px #fff, 1050px 1343px #fff, 1768px 1372px #fff,
        396px 736px #fff, 1317px 862px #fff, 1547px 1397px #fff,
        1662px 1760px #fff, 1445px 1658px #fff, 633px 1520px #fff,
        1372px 1086px #fff, 240px 998px #fff, 1829px 480px #fff,
        301px 1259px #fff, 1071px 298px #fff, 1883px 1747px #fff,
        328px 1296px #fff, 1529px 1535px #fff, 1192px 183px #fff,
        1817px 1550px #fff, 620px 1827px #fff, 667px 1447px #fff,
        1536px 1057px #fff, 944px 950px #fff, 1393px 17px #fff,
        1865px 1651px #fff, 1941px 715px #fff, 395px 1152px #fff,
        751px 940px #fff, 889px 1160px #fff, 874px 509px #fff, 779px 421px #fff,
        909px 1294px #fff, 1683px 10px #fff, 887px 1650px #fff, 75px 722px #fff,
        706px 451px #fff, 1431px 1021px #fff, 1873px 1761px #fff,
        1045px 1037px #fff, 247px 1588px #fff, 1239px 1521px #fff,
        841px 1130px #fff, 1363px 322px #fff, 940px 181px #fff,
        1579px 1634px #fff, 4px 786px #fff, 693px 1625px #fff, 732px 932px #fff,
        1937px 1956px #fff, 786px 744px #fff, 1209px 1294px #fff,
        279px 680px #fff, 1354px 1142px #fff, 286px 658px #fff, 26px 1660px #fff,
        197px 551px #fff, 1034px 1773px #fff, 1303px 1067px #fff,
        1734px 967px #fff, 667px 1470px #fff, 1389px 816px #fff,
        1224px 1152px #fff, 1554px 1775px #fff, 1531px 1439px #fff,
        1051px 17px #fff, 1013px 1222px #fff, 1824px 675px #fff,
        883px 1586px #fff, 1460px 1679px #fff, 1887px 668px #fff,
        656px 304px #fff, 134px 490px #fff, 394px 492px #fff, 1135px 1865px #fff,
        1885px 1401px #fff, 1668px 1751px #fff, 520px 465px #fff,
        91px 1078px #fff, 657px 1389px #fff, 249px 949px #fff, 1425px 837px #fff,
        376px 482px #fff, 1642px 1303px #fff, 1785px 1742px #fff,
        1670px 1300px #fff, 735px 1192px #fff, 573px 303px #fff,
        1461px 1030px #fff, 1959px 103px #fff, 413px 1745px #fff,
        319px 516px #fff, 944px 813px #fff, 1640px 781px #fff, 1671px 866px #fff,
        426px 1691px #fff, 633px 368px #fff, 1410px 615px #fff,
        1674px 1632px #fff, 1976px 355px #fff, 1368px 844px #fff,
        346px 1814px #fff, 151px 1601px #fff, 7px 819px #fff, 1524px 1737px #fff,
        1101px 1689px #fff, 774px 1415px #fff, 553px 231px #fff,
        396px 793px #fff, 406px 1361px #fff, 1440px 575px #fff, 739px 369px #fff,
        1178px 56px #fff, 1331px 989px #fff, 576px 656px #fff,
        1738px 1284px #fff, 1778px 802px #fff, 476px 1696px #fff,
        1180px 343px #fff, 1451px 491px #fff, 851px 577px #fff, 228px 921px #fff,
        663px 1805px #fff, 580px 1135px #fff, 788px 1156px #fff,
        1294px 1285px #fff, 301px 102px #fff, 161px 1073px #fff,
        418px 436px #fff, 1539px 1710px #fff, 919px 734px #fff,
        1967px 1585px #fff, 1240px 317px #fff, 83px 1111px #fff,
        1745px 1258px #fff, 1781px 776px #fff, 1532px 333px #fff,
        647px 792px #fff, 1998px 1481px #fff, 1533px 1040px #fff,
        785px 1693px #fff, 1511px 1756px #fff, 669px 1404px #fff,
        833px 1297px #fff, 526px 1009px #fff, 648px 1138px #fff,
        617px 1064px #fff, 1663px 641px #fff, 295px 1099px #fff,
        1095px 994px #fff, 551px 1280px #fff, 1424px 1759px #fff,
        464px 89px #fff, 1754px 1473px #fff, 1005px 878px #fff,
        352px 1915px #fff, 619px 1034px #fff, 1489px 1413px #fff,
        1065px 1687px #fff, 987px 776px #fff, 346px 607px #fff,
        458px 1661px #fff, 458px 378px #fff, 1658px 830px #fff,
        1447px 1035px #fff, 511px 1082px #fff, 89px 1216px #fff,
        1223px 1740px #fff, 1971px 1967px #fff, 1276px 1033px #fff,
        1556px 464px #fff, 1427px 550px #fff, 622px 1111px #fff;
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1627px 1831px #fff, 230px 535px #fff, 1435px 99px #fff,
        319px 1273px #fff, 1409px 1964px #fff, 222px 754px #fff,
        449px 443px #fff, 1773px 1509px #fff, 1206px 102px #fff, 76px 398px #fff,
        1309px 1659px #fff, 269px 11px #fff, 1673px 1728px #fff,
        15px 1055px #fff, 55px 1449px #fff, 1678px 1060px #fff,
        1998px 1647px #fff, 681px 605px #fff, 1579px 1481px #fff,
        1250px 692px #fff, 1870px 545px #fff, 99px 1188px #fff,
        1091px 1035px #fff, 731px 1290px #fff, 1885px 1904px #fff,
        536px 1200px #fff, 1824px 1078px #fff, 1448px 42px #fff,
        554px 298px #fff, 1281px 68px #fff, 609px 675px #fff, 1126px 1803px #fff,
        1191px 1338px #fff, 105px 374px #fff, 357px 658px #fff,
        198px 1868px #fff, 1148px 374px #fff, 943px 86px #fff,
        1782px 1098px #fff, 407px 477px #fff, 247px 659px #fff,
        1342px 1244px #fff, 189px 1007px #fff, 17px 1578px #fff,
        712px 1889px #fff, 1358px 493px #fff, 1609px 480px #fff,
        1501px 1873px #fff, 272px 1325px #fff, 518px 733px #fff,
        245px 1609px #fff, 680px 1952px #fff, 807px 745px #fff,
        1220px 1655px #fff, 1146px 1092px #fff, 1879px 840px #fff,
        1139px 1428px #fff, 1997px 132px #fff, 1572px 1635px #fff,
        79px 1095px #fff, 1956px 779px #fff, 624px 1197px #fff,
        1315px 1277px #fff, 1246px 620px #fff, 939px 55px #fff,
        1778px 867px #fff, 728px 536px #fff, 1290px 1038px #fff,
        1618px 694px #fff, 898px 152px #fff, 431px 1268px #fff,
        1748px 1471px #fff, 483px 945px #fff, 59px 1359px #fff,
        170px 1605px #fff, 45px 74px #fff, 1072px 693px #fff, 1360px 1614px #fff,
        509px 714px #fff, 1109px 125px #fff, 128px 1945px #fff,
        104px 1431px #fff, 1920px 466px #fff, 1132px 999px #fff,
        1987px 1407px #fff, 1964px 217px #fff, 1033px 1514px #fff,
        609px 390px #fff, 181px 57px #fff, 1790px 8px #fff, 270px 142px #fff,
        834px 1292px #fff, 1362px 1689px #fff, 226px 827px #fff,
        1188px 1559px #fff, 1257px 1281px #fff, 530px 699px #fff,
        560px 1591px #fff, 473px 1783px #fff, 968px 1355px #fff,
        363px 396px #fff, 963px 1223px #fff, 966px 434px #fff, 1933px 70px #fff,
        1276px 1054px #fff, 256px 1753px #fff, 102px 675px #fff,
        1821px 42px #fff, 631px 1894px #fff, 80px 723px #fff, 111px 336px #fff,
        624px 849px #fff, 662px 977px #fff, 599px 1793px #fff, 736px 1713px #fff,
        1629px 484px #fff, 1564px 869px #fff, 1616px 1332px #fff,
        116px 237px #fff, 1634px 1451px #fff, 1534px 1224px #fff,
        364px 462px #fff, 1722px 931px #fff, 1648px 1504px #fff,
        1812px 1229px #fff, 1989px 1900px #fff, 1416px 801px #fff,
        235px 444px #fff, 508px 1633px #fff, 1874px 1031px #fff,
        715px 826px #fff, 93px 1397px #fff, 842px 260px #fff, 355px 357px #fff,
        961px 817px #fff, 66px 400px #fff, 16px 443px #fff, 845px 1069px #fff,
        220px 699px #fff, 215px 1093px #fff, 732px 1223px #fff,
        1162px 1119px #fff, 1832px 568px #fff, 1496px 249px #fff,
        268px 1462px #fff, 1565px 1608px #fff, 461px 482px #fff, 89px 356px #fff,
        534px 1549px #fff, 424px 891px #fff, 1008px 660px #fff,
        1632px 1540px #fff, 796px 331px #fff, 1003px 618px #fff,
        197px 1433px #fff, 127px 1906px #fff, 1202px 39px #fff, 833px 653px #fff,
        1339px 693px #fff, 1428px 727px #fff, 1024px 962px #fff,
        274px 1048px #fff, 1965px 1379px #fff, 914px 638px #fff,
        1236px 1057px #fff, 1443px 853px #fff, 1741px 1882px #fff,
        1997px 968px #fff, 1800px 1981px #fff, 304px 1346px #fff,
        826px 597px #fff, 1534px 420px #fff, 1479px 1864px #fff,
        1326px 1261px #fff, 1149px 1302px #fff, 667px 90px #fff,
        1384px 349px #fff, 317px 870px #fff, 415px 608px #fff, 832px 1679px #fff,
        822px 1751px #fff, 1006px 689px #fff, 810px 1993px #fff,
        1511px 1783px #fff, 600px 358px #fff, 1207px 1946px #fff,
        1075px 63px #fff, 1662px 296px #fff, 352px 582px #fff, 80px 1133px #fff,
        268px 1684px #fff, 543px 1388px #fff, 1149px 1530px #fff,
        819px 515px #fff, 910px 1705px #fff, 623px 930px #fff, 454px 1068px #fff,
        660px 1519px #fff, 803px 1079px #fff, 394px 1970px #fff;
    animation: animStar 100s linear infinite;
}
#stars2:after {
    content: ' ';
    position: absolute;
    top: 1000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1627px 1831px #fff, 230px 535px #fff, 1435px 99px #fff,
        319px 1273px #fff, 1409px 1964px #fff, 222px 754px #fff,
        449px 443px #fff, 1773px 1509px #fff, 1206px 102px #fff, 76px 398px #fff,
        1309px 1659px #fff, 269px 11px #fff, 1673px 1728px #fff,
        15px 1055px #fff, 55px 1449px #fff, 1678px 1060px #fff,
        1998px 1647px #fff, 681px 605px #fff, 1579px 1481px #fff,
        1250px 692px #fff, 1870px 545px #fff, 99px 1188px #fff,
        1091px 1035px #fff, 731px 1290px #fff, 1885px 1904px #fff,
        536px 1200px #fff, 1824px 1078px #fff, 1448px 42px #fff,
        554px 298px #fff, 1281px 68px #fff, 609px 675px #fff, 1126px 1803px #fff,
        1191px 1338px #fff, 105px 374px #fff, 357px 658px #fff,
        198px 1868px #fff, 1148px 374px #fff, 943px 86px #fff,
        1782px 1098px #fff, 407px 477px #fff, 247px 659px #fff,
        1342px 1244px #fff, 189px 1007px #fff, 17px 1578px #fff,
        712px 1889px #fff, 1358px 493px #fff, 1609px 480px #fff,
        1501px 1873px #fff, 272px 1325px #fff, 518px 733px #fff,
        245px 1609px #fff, 680px 1952px #fff, 807px 745px #fff,
        1220px 1655px #fff, 1146px 1092px #fff, 1879px 840px #fff,
        1139px 1428px #fff, 1997px 132px #fff, 1572px 1635px #fff,
        79px 1095px #fff, 1956px 779px #fff, 624px 1197px #fff,
        1315px 1277px #fff, 1246px 620px #fff, 939px 55px #fff,
        1778px 867px #fff, 728px 536px #fff, 1290px 1038px #fff,
        1618px 694px #fff, 898px 152px #fff, 431px 1268px #fff,
        1748px 1471px #fff, 483px 945px #fff, 59px 1359px #fff,
        170px 1605px #fff, 45px 74px #fff, 1072px 693px #fff, 1360px 1614px #fff,
        509px 714px #fff, 1109px 125px #fff, 128px 1945px #fff,
        104px 1431px #fff, 1920px 466px #fff, 1132px 999px #fff,
        1987px 1407px #fff, 1964px 217px #fff, 1033px 1514px #fff,
        609px 390px #fff, 181px 57px #fff, 1790px 8px #fff, 270px 142px #fff,
        834px 1292px #fff, 1362px 1689px #fff, 226px 827px #fff,
        1188px 1559px #fff, 1257px 1281px #fff, 530px 699px #fff,
        560px 1591px #fff, 473px 1783px #fff, 968px 1355px #fff,
        363px 396px #fff, 963px 1223px #fff, 966px 434px #fff, 1933px 70px #fff,
        1276px 1054px #fff, 256px 1753px #fff, 102px 675px #fff,
        1821px 42px #fff, 631px 1894px #fff, 80px 723px #fff, 111px 336px #fff,
        624px 849px #fff, 662px 977px #fff, 599px 1793px #fff, 736px 1713px #fff,
        1629px 484px #fff, 1564px 869px #fff, 1616px 1332px #fff,
        116px 237px #fff, 1634px 1451px #fff, 1534px 1224px #fff,
        364px 462px #fff, 1722px 931px #fff, 1648px 1504px #fff,
        1812px 1229px #fff, 1989px 1900px #fff, 1416px 801px #fff,
        235px 444px #fff, 508px 1633px #fff, 1874px 1031px #fff,
        715px 826px #fff, 93px 1397px #fff, 842px 260px #fff, 355px 357px #fff,
        961px 817px #fff, 66px 400px #fff, 16px 443px #fff, 845px 1069px #fff,
        220px 699px #fff, 215px 1093px #fff, 732px 1223px #fff,
        1162px 1119px #fff, 1832px 568px #fff, 1496px 249px #fff,
        268px 1462px #fff, 1565px 1608px #fff, 461px 482px #fff, 89px 356px #fff,
        534px 1549px #fff, 424px 891px #fff, 1008px 660px #fff,
        1632px 1540px #fff, 796px 331px #fff, 1003px 618px #fff,
        197px 1433px #fff, 127px 1906px #fff, 1202px 39px #fff, 833px 653px #fff,
        1339px 693px #fff, 1428px 727px #fff, 1024px 962px #fff,
        274px 1048px #fff, 1965px 1379px #fff, 914px 638px #fff,
        1236px 1057px #fff, 1443px 853px #fff, 1741px 1882px #fff,
        1997px 968px #fff, 1800px 1981px #fff, 304px 1346px #fff,
        826px 597px #fff, 1534px 420px #fff, 1479px 1864px #fff,
        1326px 1261px #fff, 1149px 1302px #fff, 667px 90px #fff,
        1384px 349px #fff, 317px 870px #fff, 415px 608px #fff, 832px 1679px #fff,
        822px 1751px #fff, 1006px 689px #fff, 810px 1993px #fff,
        1511px 1783px #fff, 600px 358px #fff, 1207px 1946px #fff,
        1075px 63px #fff, 1662px 296px #fff, 352px 582px #fff, 80px 1133px #fff,
        268px 1684px #fff, 543px 1388px #fff, 1149px 1530px #fff,
        819px 515px #fff, 910px 1705px #fff, 623px 930px #fff, 454px 1068px #fff,
        660px 1519px #fff, 803px 1079px #fff, 394px 1970px #fff;
}

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1496px 1281px #fff, 606px 1976px #fff, 689px 680px #fff,
        798px 680px #fff, 186px 1252px #fff, 1140px 1067px #fff,
        794px 1816px #fff, 686px 1762px #fff, 1975px 1308px #fff,
        88px 1746px #fff, 1301px 1080px #fff, 1265px 249px #fff,
        780px 193px #fff, 818px 1098px #fff, 765px 1807px #fff, 99px 1747px #fff,
        575px 1703px #fff, 179px 1602px #fff, 304px 1838px #fff,
        1511px 223px #fff, 1659px 949px #fff, 718px 1553px #fff,
        1587px 1661px #fff, 1875px 233px #fff, 1662px 540px #fff,
        750px 931px #fff, 353px 177px #fff, 1944px 1154px #fff,
        1394px 1166px #fff, 490px 176px #fff, 1342px 780px #fff,
        1868px 634px #fff, 1917px 459px #fff, 1909px 398px #fff,
        571px 803px #fff, 134px 204px #fff, 611px 978px #fff, 1864px 488px #fff,
        34px 1081px #fff, 653px 173px #fff, 608px 785px #fff, 43px 135px #fff,
        371px 879px #fff, 866px 66px #fff, 187px 683px #fff, 1183px 1238px #fff,
        375px 809px #fff, 289px 1626px #fff, 597px 673px #fff, 107px 1819px #fff,
        1223px 229px #fff, 752px 497px #fff, 721px 1838px #fff,
        1580px 1215px #fff, 732px 1650px #fff, 168px 2000px #fff,
        20px 1290px #fff, 1405px 655px #fff, 1320px 1091px #fff,
        1920px 1416px #fff, 438px 1030px #fff, 443px 462px #fff,
        458px 949px #fff, 1727px 1664px #fff, 625px 1507px #fff,
        751px 1281px #fff, 792px 395px #fff, 1907px 495px #fff,
        1702px 179px #fff, 1648px 837px #fff, 11px 1093px #fff,
        160px 1182px #fff, 647px 1464px #fff, 606px 413px #fff,
        1525px 1531px #fff, 1975px 682px #fff, 555px 918px #fff,
        1311px 260px #fff, 1669px 998px #fff, 1310px 1486px #fff,
        217px 555px #fff, 190px 1589px #fff, 985px 439px #fff, 1700px 390px #fff,
        390px 739px #fff, 1444px 1932px #fff, 248px 1433px #fff,
        414px 1584px #fff, 667px 1007px #fff, 612px 538px #fff,
        1313px 1264px #fff, 1125px 634px #fff, 1461px 1974px #fff,
        1361px 177px #fff, 1353px 1291px #fff, 10px 1688px #fff,
        733px 589px #fff, 591px 1764px #fff, 1432px 110px #fff,
        1184px 1910px #fff;
    animation: animStar 150s linear infinite;
}
#stars3:after {
    content: ' ';
    position: absolute;
    top: 1000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1496px 1281px #fff, 606px 1976px #fff, 689px 680px #fff,
        798px 680px #fff, 186px 1252px #fff, 1140px 1067px #fff,
        794px 1816px #fff, 686px 1762px #fff, 1975px 1308px #fff,
        88px 1746px #fff, 1301px 1080px #fff, 1265px 249px #fff,
        780px 193px #fff, 818px 1098px #fff, 765px 1807px #fff, 99px 1747px #fff,
        575px 1703px #fff, 179px 1602px #fff, 304px 1838px #fff,
        1511px 223px #fff, 1659px 949px #fff, 718px 1553px #fff,
        1587px 1661px #fff, 1875px 233px #fff, 1662px 540px #fff,
        750px 931px #fff, 353px 177px #fff, 1944px 1154px #fff,
        1394px 1166px #fff, 490px 176px #fff, 1342px 780px #fff,
        1868px 634px #fff, 1917px 459px #fff, 1909px 398px #fff,
        571px 803px #fff, 134px 204px #fff, 611px 978px #fff, 1864px 488px #fff,
        34px 1081px #fff, 653px 173px #fff, 608px 785px #fff, 43px 135px #fff,
        371px 879px #fff, 866px 66px #fff, 187px 683px #fff, 1183px 1238px #fff,
        375px 809px #fff, 289px 1626px #fff, 597px 673px #fff, 107px 1819px #fff,
        1223px 229px #fff, 752px 497px #fff, 721px 1838px #fff,
        1580px 1215px #fff, 732px 1650px #fff, 168px 2000px #fff,
        20px 1290px #fff, 1405px 655px #fff, 1320px 1091px #fff,
        1920px 1416px #fff, 438px 1030px #fff, 443px 462px #fff,
        458px 949px #fff, 1727px 1664px #fff, 625px 1507px #fff,
        751px 1281px #fff, 792px 395px #fff, 1907px 495px #fff,
        1702px 179px #fff, 1648px 837px #fff, 11px 1093px #fff,
        160px 1182px #fff, 647px 1464px #fff, 606px 413px #fff,
        1525px 1531px #fff, 1975px 682px #fff, 555px 918px #fff,
        1311px 260px #fff, 1669px 998px #fff, 1310px 1486px #fff,
        217px 555px #fff, 190px 1589px #fff, 985px 439px #fff, 1700px 390px #fff,
        390px 739px #fff, 1444px 1932px #fff, 248px 1433px #fff,
        414px 1584px #fff, 667px 1007px #fff, 612px 538px #fff,
        1313px 1264px #fff, 1125px 634px #fff, 1461px 1974px #fff,
        1361px 177px #fff, 1353px 1291px #fff, 10px 1688px #fff,
        733px 589px #fff, 591px 1764px #fff, 1432px 110px #fff,
        1184px 1910px #fff;
}

#title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    font-family: 'lato', sans-serif;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: -60px;
    padding-left: 10px;
}
#title span {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
} */
